html, body {
    margin: 0;
    padding: 0;
    font-family: "Press Start 2P";
    width: 100%;
    height: 100vh;
    background: url("../images/45908.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    top: 0;
    left: 0;
    overflow: auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    position: relative;
    background-color: rgba(0,0,0,0.5);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    /* position: absolute;
    top: 0;
    left: 0; */
}
.background {
}
.filter {
}
.container .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 80%;
    margin: 0 auto;
    background: none;
    color: #f0f0f2;
}

.header {
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.title {
    padding-left: 10px;
    font-size: 32px;
}
.description {
    padding-top: 10px;
    padding-left: 10px;
    font-size: 16px;
}
.error {
    color: #ff6347;
    font-size: 12px;
    padding-bottom: 20px;
    padding-left: 10px;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.body .block {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
    padding-bottom: 40px;
}
.body .block span {
    margin-bottom: 10px;
    margin-right: 20px;
}
.row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin: 10px 0px 5px 0px;
    box-sizing: border-box;
}
.col {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
.col-100 {
    width: 100%;
}
.col-sm, .add-btn {
    width: 100px;
}
.col-lg, .start-btn {
    width: 150px;
}
.nes-badge {
    width: 13.1em!important;
}
.randomize {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 25px 0px 10px 0px;
    padding: 0px 20px;
    font-size: 24px;
    /* padding-bottom: 50px; */
}

.footer {

}

/* @media only screen and (max-width: 1024px) {
    .header {
        margin: 20px 0px;
    }
} */

@media only screen and (max-width: 768px) {
    .container {
    }
    .header {
        margin: 40px 0px;
    }
    .header .title {
        font-size: 24px;
    }
    .header .description {
        font-size: 12px;
    }
    .header .error {
        font-size: 10px;
    }
    .row {
        flex-direction: column;
        align-items: flex-end;
        width: 90%;
        margin: 10px 0px 5px 10px;
        box-sizing: border-box;
    }
    .col-sm, .add-btn, .col-lg, .start-btn {
        width: 150px;
        margin: 8px 15px 0px 0px;
    }
    .nes-badge {
        width: 11em!important;
        font-size: .7em!important;
    }
}
